body {
  font-size: 15px;
}

th,
td {
  font-size: 15px;
}

@media print {
  @page {
    size: landscape;
  }
  #printPageButton {
    display: none;
  }
  th,
  td,
  html {
    margin-top: -20px;
    font-size: 12px;
  }
}

table {
  width: 50%;
  counter-reset: -1;
}
table tr {
  counter-increment: row-num;
}
table tr td:first-child::before {
  content: counter(row-num) ". ";
}
